
backend/node_modules
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
# backend/.env
backend/.env.backup
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log

app/node_modules/**/*
app/node_modules
app/.expo/*
app/npm-debug.*
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision
app/*.orig.*
app/web-build/

# macOS
.DS_Store
.env
