button.btn,
a.btn {
  text-decoration: none;
  cursor: default;
  border: none;
  background-color: transparent;
  &.btn--none {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    margin: 0 -12px;
    border-radius: var(--border-radius);
    color: var(--font-color);
    transition: all 0.5s ease-out;
    &:hover {
      background-color: var(--background-color--grey);
    }
  }
  &.btn--secondary {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    border-radius: var(--border-radius);
    background-color: var(--background-color--dark);
    color: var(--font-color)
  }
  &.btn--cta {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 24px;
    background-color: var(--font-color);
    color: var(--font-color--brand-invert);
  }
}

button.message {
  display: inline-block;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  color: var(--font-color);
  cursor: default;
  &:hover {
    background-color: var(--background-color--grey);
  }
}

button.small {
  display: inline-block;
  border-radius: var(--border-radius);
  padding: 2px 4px;
  margin: -2px -4px;
  cursor: default;
  border: none;
  background-color: transparent;
  color: var(--font-color--lightest);
  &:hover {
    background-color: var(--background-color--grey);
  }
}


button[type=submit] {
  height: 42px;
  line-height: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--background-color--brand);
  border-radius: var(--border-radius);
  border: none;
  color: var(--font-color);
  cursor: default;
}

.tag {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  color: var(--font-color--light);
}

.count {
  min-width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: var(--background-color--lightgrey);
  color: var(--font-color--light) !important;
  border-radius: 100px;
}
