form {
  &.has-error {
    .form-error {
      display: block;
    }
  }
  .form-error {
    padding: 8px 12px;
    background-color: var(--background-color--warning);
    border-radius: var(--border-radius);
    display: none;
    span {
      color: var(--font-color--warning);
    }
  }
  .form-group {
    .group-item {
      &.has-error {
        input,
        textarea,
        .error-message {
          display: block;
        }
      }
      .error-message {
        display: none;
        color: var(--font-color--warning);
      }
    }
  }
  }

.form-group {
  button.btn--icon {
    margin-left: -28px;
  }

  label {
    margin-bottom: 4px;
    display: block;
  }
  input,
  select,
  textarea,
  .input-fake {
    border: 1px solid var(--border-color--input);
    border-radius: var(--border-radius);
    padding: 4px 8px;
    width: 100%;
    color: var(--font-color);
    background-color: transparent;
    &:focus {
      border-color: var(--border-color--input--focus);
    }
  }
  textarea {
    min-height: 144px;
  }
}

.password-input-wrapper {
  position: relative;
  button {
    position: absolute;
    right: 12px;
    top: 0px;
  }
}


  .checkbox-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    height: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      min-width: 24px;
      height: 24px;
      margin: 0;
      opacity: 0;
      &:checked {
        & ~ .checkmark-container {
          border-color: transparent;
          background-color: var(--background-color--dark);
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            opacity: 1;
          }
        }
      }
    }
    .checkmark-container {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      z-index: -1;
      svg {
        opacity: 0;
      }
    }
  }
  


  .checkbox-status-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    height: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    input {
      position: absolute;
      top: 0;
      transform: scale(2);
      // bottom: 0;
      // left: 0;
      // right: 0;
      // margin: 0;
      opacity: 0;
      &:hover {
        & ~ .checkmark-container {
          background-color: var(--background-color--lightgrey);
        }
      }
      &:checked {
        & ~ .checkmark-container {
          svg {
            fill: var(--background-color--brand);
          }
        }
      }
    }
    .checkmark-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: var(--border-radius);
      svg {
        fill: var(--border-color);
      }
    }
  }
