p:not(:last-of-type) {
  margin-bottom: 1em;
}

ul {
  border-bottom: 1px solid var(--border-color--light);
  padding-bottom: 16px;
  margin-bottom: 16px;
  li {
    list-style: none;
    > span,
    a {
      display: flex;
      padding: 10px 12px;
      margin-left: -12px;
      margin-right: -12px;
      border-radius: 5px;
      align-items: center;
      justify-content: space-between;
      cursor: default;
      &:hover {
        background-color: var(--background-color--grey);
      }
    }
    .card-text-wrapper {
      flex: 1;
      .card-title-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  &:last-of-type {
    border-bottom: none;
  }
}


section.modal {
  position: absolute;
  display: inline-block;
  bottom: 44px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: var(--border-radius);
  background-color: var(--background-color--dark);
  &.is-hidden {
    pointer-events: none;
    opacity: 0;
  }
  &.is-active {
    pointer-events: auto;
    opacity: 1;
  }
}

.timer-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  .label {
    position: absolute;
    left: 50%;
    margin-top: -1px;
    transform: translateX(-50%);
  }
  .timer {
    display: flex;
    align-items: center;
    min-height: 32px;
    h2 {
      margin-left: 8px;
    }
  }
}

.card-document {
  display: flex;
  align-items: center;
  .image {
    width: 32px;
    height: 32px;
    background-size: cover;
    border-radius: var(--border-radius);
    background-color: var(--background-color--light)
  }
  .document {
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: var(--background-color--dark);
    span {
      line-height: 32px;
    }
  }
  .description {
    flex: 1;
    padding-left: 12px;
  }
}

.document-dropzone {
  border-radius: var(--border-radius);
  padding: 12px;
  margin: -12px;
  border: 1px solid rgba(0,0,0,0) !important;
  &.is-active {
    border: 1px solid var(--border-color--light) !important;
  }
}


.message-wrapper {
  border-radius: var(--border-radius);
  background-color: var(--background-color--lightgrey);
  &.message-user {
    background-color: var(--background-color--lightgrey);

  }
}

.message-send-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  [contenteditable] {
    border-radius: var(--border-radius);
    // border: 1px solid var(--border-color--light);
    background-color: var(--background-color--lightgrey);
    padding: 4px 16px;
    margin: 0;
    // border-radius: 16px;
  }
  button {
    position: absolute;
    right: 6px;
    bottom: 6px;
  }
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-title-wrapper {
  display: flex;
  align-items: center;
  div {
    flex: 1;
    z-index: 1;
  }
  .ic {
    opacity: 0;
  }
}

.subtask-wrapper {
  display: flex;
  align-items: flex-start;
  div {
    flex: 1
  }
  p {
    border: 1px solid rgba(0,0,0,0);
  }
  &.is-done {
    opacity: .5;
  }
}

.checkbox-wrapper {
  &.is-checked {
  }
  input[type="checkbox"] {
    margin-right: 8px;
    margin-top: 5px;
  }

}

[contenteditable] {
  outline: 0px solid transparent;
  border: 1px solid rgba(0,0,0,0);
  border-radius: var(--border-radius);
  width: 100%;
  padding: 4px;
  margin: -4px;
  &:focus {
    border: 1px solid var(--border-color--light);
  }
}


header.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  z-index: 1;
  > div {
    justify-content: space-between;
    align-items: center;
  }
  h2 {
    color: var(--font-color--lightest);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 48px;
    height: 48px;
  }
}


article.main {
  position: absolute;
  top: 48px;
  bottom: 38px;
  left: 0;
  right: 0;
  overflow: auto;
  padding-top: 16px;
}

footer.main {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  a {
    display: inline-block;
    margin: 0 10px;
  }
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}
