/*
  Font Settings
*/
$base-font-color: #eee;
$base-font-size: 13px;
$base-line-height: 1.65;

/*
  Grid
*/
$site-padding: 20px;

$grid-columns: 12;
$grid-gutters: 100% / $grid-columns / 3;

$spacer-sizes: 4px, 8px, 16px, 24px, 32px, 64px, 96px, 128px, 168px, 208px;


/*
  Breakpoints
*/

$mobile: 415px;
$tablet: 768px;
$notebook: 1024px;
$desktop: 1200px;


/*
  Colors
*/



:root {
  /*
    Breakpoints
  */
  --mobile: #{$mobile};
  --tablet: #{$tablet};
  --notebook: #{$notebook};
  --desktop: #{$desktop};

  --grid-gutters: #{$grid-gutters};
  --site-padding: #{$site-padding};

  /*
    Colors Fonts
  */
  --font-color: #{rgba( $base-font-color, .85 )};
  --font-color--light: #{rgba( $base-font-color, .74 )};
  --font-color--lighter: #{rgba( $base-font-color, .62 )};
  --font-color--lightest: #{rgba( $base-font-color, .38 )};
  --font-color--dark: rgba(0,0,0,1);
  --font-color--placeholder: #{rgba( $base-font-color, .38 )};
  --font-color--warning: #fff;

  --font-color--invert: #eee;

  --font-color--brand: #ddd;
  --font-color--brand-hover: #ddd;
  --font-color--brand-invert: #ddd;

  /*
    Colors Background
  */

  --background-color--light: rgba(255,255,255, .4);
  --background-color--lightest: rgba(255,255,255, .5);
  --background-color--grey: rgba(0,0,0, .2);
  --background-color--dropdown: rgb(24, 24, 24);
  --background-color--lightgrey: rgba(255,255,255, .0375);
  --background-color--dark: #191919;
  --background-color--warn: #fdd8d8;
  --background-color--brand: #71A9E0;
  --background-color--brand--dark: #4b86c0;
  --background-color--warning: rgba(255,0,0, .2);
  --background-color--input: rgba(255,255,255, .0675);
  /*
    Colors Border
  */
  --border-color--lightest: rgba(255,255,255, .2);
  --border-color--light: rgba(255,255,255, .0675);
  --border-color--brand: #71A9E0;
  --border-color: rgba(255,255,255, .3);
  --border-color--input: rgba(255,255,255, .1);
  --border-color--input--focus: rgba(255,255,255, .3);
  --border-color--warning: red;

  --input-color--border-focus: 1px solid #000;

  --border-radius: 3px;
  /*
    Colors Brand
  */



  --shadow--small: 0px 2px 2px rgba(0,0,0,.03);
  --shadow--large: 0px 0px 24px rgba(0,0,0,.075);


  /*
    Animation Curves
  */
  --bezier : cubic-bezier(.32,.37,.05,1.01);
  --bezier-small : cubic-bezier(.32,.37,.05,1.01);

}
